﻿<h1>Usuarios</h1>
<button class="btn btn-primary m-3" onclick="AgregarUsuario()">Agregar Usuario</button>

<table id="usuarios" class="table table-striped" style="width:100%"></table>

<div id="usuariosAddPartial"></div>

<script src="~/js/Usuarios/Usuarios.js"></script>