@model TrabajoIntegralSofttekFront.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "TechOil";
}

@Html.EditorFor( x => x.Token);

<div class="text-center">
    <h1 class="display-4">Bienvenidos a UMSA Softtek</h1> 
</div>

<script src="~/js/home/home.js"> </script>